---
layout: announcer_sheets
event_title: "Field Show Competition"
css:
  - "field.css"
---
{% capture ignore %}{% increment band_ordinal %}{% endcapture %} {% comment %}Get the band ordinal to start at 1{% endcomment %}
<div class="page">
    <div class="header">Field Show - Open</div>
    <div>
        Good afternoon ladies and gentlemen. Welcome to the Field Show Competition for
        the {{site.data.review.citation}}. We are joined today by a score of talented
        bands anxious to perform. On behalf of Foothill High School, we wish good luck
        to all the bands performing today and hope you enjoy their shows.
    </div>
    <div class="footer">Field Show - Open</div>
</div>

{% for flu in site.data.field.lineup %}
    <div class="page">
    {% if flu.ref %}
        {% assign flu_school = site.schools | where:"key",flu.ref
                                            | first %}
        {% assign flu_field = site.fields | where:"key",flu.ref
                                          | first %}
        <div class="header">Field Show - {{flu_school.name}} - {% increment band_ordinal %}</div>
        {% include check_school.html school=flu_school ref=flu.ref %}
        {% include check_field.html school=flu_school band=flu_field ref=flu.ref %}
        {% include check_leaders.html school=flu_school band=flu_field ref=flu.ref %}
        <div>
            Our {% if forloop.first %}first{% else %}next{% endif %} band is the {% include nickname_citation.html school=flu_school %}, from {{flu_school.name}} in {{flu_school.city}}.
        </div>
        <div>
            {% include leader_citation.html school=flu_school band=flu_field %}
        </div>
        <div>
            The {% include nickname_citation.html school=flu_school %} will perform {{flu_field.program}}.
        </div>
        <div>
            {{flu_field.content}}
        </div>
        <div class="footer">{{flu_school.name}}</div>
    {% elsif flu.break %}
        <div class="header">{{flu.break}} minute break</div>
        <div class="footer">Field Show - {{flu.break}} minute break</div>
    {% else %}
        <div class="header error">Error! Field lineup data entry not recognized!</div>
        <div>{{flu | inspect}}</div>
        <div class="footer"></div>
    {% endif %}
    </div>
{% endfor %}


<div class="page">
    <div class="header">Field Show - Awards</div>
    <div>
        Tonight’s awards presentation is dedicated to the memory of Mary Cloyd, long time supporter of Foothill High School Band and its programs.
    </div>
    <div>
        Foothill High School thanks our trophy sponsors: the Shin Family, the Piergrossi family, Target, and Dr. Bader-Omarali of Pleasanton Medical Group.
    </div>
    <div>
        We would also like to thank the sponsors of the Foothill Band Review: Jimmy John’s Sandwiches, Double-D Transportation, and Orchard Supply.
    </div>
    <div>
        [nth place] with a score of [score] goes to [pause] [name of school]!

    </div>
    <div>
        [before announcing the Grand Sweepstakes]
        The Grand Sweepstakes Trophy is sponsored by John and Gretchen Clatworthy.
    </div>
    <div class="footer">Field Show - Awards</div>
</div>

<div class="page">
    <div class="header">Field Show - Close</div>
    <div>
        This concludes the {{site.data.review.citation}}. Thank you and congratulations
        to all the bands we’ve seen today, and thank you all for attending and cheering
        on these fine young performers.
    </div>
    <div>
        Mark your calendars to join us again next year, on {{site.data.review.next_year.date}},
        for the {{site.data.review.next_year.citation}}. On behalf of Foothill High School,
        I wish you all a safe and enjoyable weekend. Good night.
    </div>
    <div class="footer">Field Show - Close</div>
</div>
