---
layout: announcer_sheets
event_title: "Parade Competition"
css:
  - "parade.css"
---
{% capture ignore %}{% increment band_ordinal %}{% endcapture %} {% comment %}Get the band ordinal to start at 1{% endcomment %}
<div class="page">
    <div class="header">Parade - Open</div>
    <div>
        Good morning ladies and gentlemen. Welcome to the Parade Competition for the {{site.data.review.citation}}.
        We are joined today by nearly two score wonderful bands to entertain and delight us.
        On behalf of Foothill High School, we wish good luck to all the bands performing today and hope you enjoy the competition.
    </div>
    <div class="footer">Parade - Open</div>
</div>

<div class="page">
    <div class="header">Parade - Grand Marshal</div>
    <div>
        Now, please welcome our Grand Marshal, {{site.data.parade.grand_marshall}}.
    </div>
    <div class="footer">Parade - Grand Marshal</div>
</div>

<div class="page">
    <div class="header">Parade - Presentation of the Colors</div>
    <div>
        At this time, please rise and give respect to the presentation of the colors.<br>
        Presenting the colors for today’s parade, please welcome {{site.data.parade.colors}}.
    </div>
    <div class="footer">Parade - Presentation of the Colors</div>
</div>

{% for plu in site.data.parade.lineup %}
    <div class="page">
    {% if plu.ref %}
        {% assign plu_school = site.schools | where:"key",plu.ref
                                            | first %}
        {% assign plu_parade = site.parades | where:"key",plu.ref
                                            | first %}
        <div class="header">Parade - {{plu_school.name}} - {% increment band_ordinal %}</div>
        {% include check_school.html school=plu_school ref=plu.ref %}
        {% include check_parade.html school=plu_school parade=plu_parade ref=plu.ref %}
        {% include check_leaders.html school=plu_school band=plu_parade ref=plu.ref %}
        <div>
            Our {% if forloop.first %}first{% else %}next{% endif %} band is the {% include nickname_citation.html school=plu_school %}, from {{plu_school.name}} in {{plu_school.city}}.
        </div>
        <div>
            {% include leader_citation.html school=plu_school band=plu_parade %}
        </div>
        <div>
            The {% include nickname_citation.html school=plu_school %} will perform {{plu_parade.music}}.
        </div>
        <div>
            {{plu_parade.content}}
        </div>
        <div class="footer">{{plu_school.name}}</div>
    {% elsif plu.break %}
        <div class="header">{{plu.break}} minute break</div>
        <div class="footer">Parade - {{plu.break}} minute break</div>
    {% else %}
        <div class="header error">Error! Parade lineup data entry not recognized!</div>
        <div>{{plu | inspect}}</div>
        <div class="footer"></div>
    {% endif %}
    </div>
{% endfor %}

<div class="page">
    <div class="header">Parade - Close</div>
    <div>
        This concludes the Parade Competition for the {{site.data.review.citation}}.
        Thank you and congratulations to all the bands we’ve seen this morning, and
        thank you all for attending and cheering on these fine young performers.
    </div>
    <div>
        Parade Awards will be presented at {{site.data.parade.awards_time}} in the {{site.data.parade.awards_location}}.
    </div>
    <div>
        Please join us at the Foothill High School Stadium for the Field Show Competition,
        starting at {{site.data.field.start_time}} this afternoon and running through the evening.
    </div>
    <div>
        Mark your calendars to join us again next year, on {{site.data.review.next_year.date}},
        for the {{site.data.review.next_year.citation}}.  On behalf of Foothill High School,
        I wish you all a safe and enjoyable weekend. Good day.
    </div>
    <div class="footer">Parade - Close</div>
</div>
