html, body {
    font-family: Arial;
    font-size: 16pt;
}

.awards {
    font-size: 16pt;
}

.error {
    color: red;
    font-style: italic;
}

.missing {
    color: orange;
    font-style: italic;
}

.header, .footer {
    text-align: center;
    font-weight: bold;
}

.page, .page div {
    margin-top: 10pt;
    margin-bottom: 10pt;
    line-height: 150%;
}

/*@page {
  size: A4;
  margin: 11mm 17mm 17mm 17mm;
}*/

@media print {
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .page {
        position: relative;
        height: 95%;
        page-break-inside: avoid;
        page-break-after: always;
    }

    html, body {
        width: 8in;
        height: 10.5in; /* 297mm; */
    }
}

@media screen {
    .footer {
        border-bottom: 1px;
        border-bottom-style: solid;
    }
}