---
layout: announcer_sheets

event_title: "Foothill Band Review"
book_title: "Announcer's Book"

css:

this_year:
    year: 2017
    citation: "43rd Annual Foothill High School Band Review"

next_year:
    date: "October 27th, 2018"
    year: 2018
    citation: "44th Annual Foothill High School Band Review"

counts:
    parade: 33
    concert: 17
    field: 21

sponsors:
    parade:
    -   "John Santos with White Castle Tours"
    -   "Sean Jolley Real Estate"
    -   "Ben Woo and Salesforce"
    -   "Huntington of Pleasanton"
    -   "Golden Gate Collision with the Carnes Family"
    -   "the parents of Roger Li"
    -   "the Goebel Family"

    parade_trophies: []

    field:
    -   "John Santos with White Castle Tours"
    -   "Sean Jolley Real Estate"
    -   "Salesforce"
    -   "Huntington of Pleasanton"

    field_trophies:
        1st place 5A:
        -   sponsor: "the parents of Roger Li"

        Grand Sweepstakes:
        -   sponsor: "John Santos"
        -   sponsor: "White Castle Tours"

        3rd place brass:
        -   sponsor: "Huntington of Pleasanton"
        -   sponsor: "the Goebel family"
            dedication: "the Foothill Band and their favorite trumpet section"

        2nd place color guard:
        -   sponsor: "the Carnes family"
            dedication: "Vivi -- We can’t believe this is your last Band Review! We are so proud of you. We love you! Mommy, Daddy and Izzy"
        -   sponsor: "Golden State Collision"

        3rd place percussion:
        -   sponsor: "Huntington of Pleasanton"

        1st place percussion:
        -   sponsor: "the Woo family"
            dedication: "One band, one sound. This trophy is dedicated to our favorite Pit section"

        3rd place woodwinds:
        -   sponsor: "Huntington of Pleasanton"
---
{% capture ignore %}{% increment parade_ordinal %}{% endcapture %} {% comment %}Get the parade ordinal to start at 1{% endcomment %}
<div class="page">
    <div class="header">Parade - Open</div>
    <div>
        Good morning ladies and gentlemen. Welcome to the Parade Competition for the {{page.this_year.citation}}.
        We are joined today by nearly two score wonderful bands to entertain and delight us.
        On behalf of Foothill High School, we wish good luck to all the bands performing today and hope you enjoy the competition.
    </div>
    <div class="footer">Parade - Open</div>
</div>

<div class="page">
    <div class="header">Parade - Presentation of the Colors</div>
    <div>
        At this time, please rise and give respect to the presentation of the colors.<br>
        Presenting the colors for today’s parade, please welcome {{site.data.parade.colors}}.
    </div>
    <div class="footer">Parade - Presentation of the Colors</div>
</div>

<div class="page">
    <div class="header">Parade - Grand Marshal</div>
    <div>
        Now, please welcome our Grand Marshal, {{site.data.parade.grand_marshall}}.
    </div>
    <div class="footer">Parade - Grand Marshal</div>
</div>

{% for plu in site.data.parade.lineup %}
    <div class="page">
    {% if plu.ref %}
        {% assign plu_school = site.schools | where:"key",plu.ref
                                            | first %}
        {% assign plu_parade = site.parades | where:"key",plu.ref
                                            | first %}
        <div class="header">Parade - {{plu_school.name}} - {% increment parade_ordinal %}</div>
        {% include check_school.html school=plu_school ref=plu.ref %}
        {% include check_parade.html school=plu_school parade=plu_parade ref=plu.ref %}
        {% include check_leaders.html school=plu_school unit=plu_parade ref=plu.ref %}
        {%- capture nickname -%}
            {% include nickname_citation.html unit=plu_parade school=plu_school generic="Marching Band" %}
        {%- endcapture -%}
        <div>
            Our {% if forloop.first %}first{% else %}next{% endif %} band is the {{ nickname }}, from {{plu_school.name}} in {{plu_school.city}}.
        </div>
        <div>
            {% include leader_citation.html school=plu_school unit=plu_parade nickname=nickname %}
        </div>
        <div>
            The {{ nickname }} will perform {{plu_parade.music}}.
        </div>
        {% unless plu_parade.content.size > 0 %}
            <div class="missing">
                {{plu_school.name}} has no parade notes.
            </div>
        {% else %}            
            <div>
                {{plu_parade.content}}
            </div>
        {% endunless %}
        <div class="footer">Parade - {{plu_school.name}}</div>
    {% elsif plu.break %}
        <div class="header">Parade - {{plu.break}} minute break</div>
        <div class="footer">Parade - {{plu.break}} minute break</div>
    {% else %}
        <div class="header error">Error! Parade lineup data entry not recognized!</div>
        <div>{{plu | inspect}}</div>
        <div class="footer"></div>
    {% endif %}
    </div>
{% endfor %}

<div class="page">
    <div class="header">Parade - Close</div>
    <div>
        This concludes the Parade Competition for the {{page.this_year.citation}}.
        Thank you and congratulations to all the bands we’ve seen this morning, and
        thank you all for attending and cheering on these fine young performers.
    </div>
    <div>
        Parade Awards will be presented at {{site.data.parade.awards_time}} in the {{site.data.parade.awards_location}}.
    </div>
    <div>
        Please join us at the Foothill High School Stadium for the Field Show Competition,
        starting at {{site.data.field.start_time}} this afternoon and running through this evening.
    </div>
    <div>
        Mark your calendars to join us again next year, on {{page.next_year.date}},
        for the {{page.next_year.citation}}.  On behalf of Foothill High School,
        I wish you all a safe and enjoyable weekend. Good day.
    </div>
    <div class="footer">Parade - Close</div>
</div>

{% capture ignore %}{% increment field_ordinal %}{% endcapture %} {% comment %}Get the field ordinal to start at 1{% endcomment %}
<div class="page">
    <div class="header">Field Show - Open</div>
    <div>
        Good afternoon ladies and gentlemen. Welcome to the Field Show Competition for
        the {{page.this_year.citation}}. We are joined today by a score of talented
        bands anxious to perform. On behalf of Foothill High School, we wish good luck
        to all the bands performing today and hope you enjoy their shows.
    </div>
    <div class="footer">Field Show - Open</div>
</div>

{% for flu in site.data.field.lineup %}
    <div class="page">
    {% if flu.ref %}
        {% assign flu_school = site.schools | where:"key",flu.ref
                                            | first %}
        {% assign flu_field = site.fields | where:"key",flu.ref
                                          | first %}
        <div class="header">Field Show - {{flu_school.name}} - {% increment field_ordinal %}</div>
        {% include check_school.html school=flu_school ref=flu.ref %}
        {% include check_field.html school=flu_school band=flu_field ref=flu.ref %}
        {% include check_leaders.html school=flu_school unit=flu_field ref=flu.ref %}
        {%- capture nickname -%}
            {% include nickname_citation.html unit=flu_field school=flu_school generic="Marching Band" %}
        {%- endcapture -%}
        <div>
            Now taking the field is the {{ nickname }}, from {{flu_school.name}} in {{flu_school.city}}.
        </div>
        <div>
            {% include leader_citation.html school=flu_school unit=flu_field nickname=nickname %}
        </div>
        <div>
            The {{ nickname }} will perform their program, {{flu_field.program}}
            {%- if flu_field.music -%}
                , featuring {{flu_field.music}}
            {%- endif -%}
            .
        </div>
        {% unless flu_field.content.size > 0 %}
            <div class="missing">
                {{flu_school.name}} has no field notes.
            </div>
        {% else %}            
            <div>
                {{flu_field.content}}
            </div>
        {% endunless %}
        <div class="footer">Field Show - {{flu_school.name}}</div>
    {% elsif flu.break %}
        <div class="header">Field Show - {{flu.break}} minute break</div>
        <div class="footer">Field Show - {{flu.break}} minute break</div>
    {% else %}
        <div class="header error">Error! Field lineup data entry not recognized!</div>
        <div>{{flu | inspect}}</div>
        <div class="footer"></div>
    {% endif %}
    </div>
{% endfor %}

<div class="page">
    <div class="header">Field Show - End of Competition</div>
    <div>
        This concludes the Field Show Competition for the {{page.this_year.citation}}.
        Please stay for the Field Show Awards, presented here in 15 minutes.
    </div>
    <div>
        Whether you're from Foothill or cheering your home school, you probably know how much work it takes to hold a successful band review, where student performers can share their talent with and their love of music. Today, {{page.counts.parade}} bands marched in parade, {{page.counts.concert}} performed in concert, and {{page.counts.field}} presented field shows. All this would not happen without the work of several hundred student and parent volunteers. Foothill High School thanks everyone who contributed to the success of today's Band Review. You all made it happen!
    </div>
    <div class="footer">Field Show - End of Competition</div>
</div>

<div class="page awards">
    <div class="header">Field Show - Awards</div>
    <div>
        Foothill High School thanks the sponsors of the {{page.this_year.citation}}: {{ page.sponsors.field | array_to_sentence_string }}.
    </div>
    <div>
        [General award announcement]
        With a score of {score}, {nth} place {category} goes to [pause] {name of school}!
    </div>
    {% include trophysponsor_citation.html sponsors=page.sponsors.field_trophies %}
    <div class="footer">Field Show - Awards</div>
</div>

<div class="page">
    <div class="header">Field Show - Close</div>
    <div>
        This concludes the {{page.this_year.citation}}. Thank you and congratulations
        to all the bands we’ve seen today, and thank you all for attending and cheering
        on these fine young performers.
    </div>
    <div>
        Mark your calendars to join us again next year, on {{page.next_year.date}},
        for the {{page.next_year.citation}}. On behalf of Foothill High School,
        I wish you all a safe and enjoyable weekend. Good night.
    </div>
    <div class="footer">Field Show - Close</div>
</div>

<div class="page awards">
    <div class="header">Parade and Concert - Awards</div>
    <div>
        Foothill High School thanks the sponsors of the {{page.this_year.citation}}: {{ page.sponsors.parade | array_to_sentence_string }}.
    </div>
    {% include trophysponsor_citation.html sponsors=page.sponsors.parade_trophies %}
    <div>
        [announce scores and awards for Parade and Concert]
    </div>
    <div class="footer">Parade and Concert - Awards</div>
</div>
