{% assign directors = include.band.directors | default: include.school.directors %}
{% assign other_directors = include.band.other_directors | default: include.school.other_directors %}
{% assign leaders = include.band.leaders | default: include.school.leaders %}
{% unless directors %}
    <div class="missing">Missing! {{include.school.name}} has no directors</div>
{% endunless %}
{% unless leaders %}
    <div class="missing">Missing! {{include.school.name}} has no leaders</div>
{% endunless %}
