{% assign staff_array = site.data.review.empty_array %}
{% if include.school.directors.size %}
    {%- capture temp_string -%}
    {{ include.school.directors | array_to_sentence_string }}
    {%- endcapture -%}
    {% assign staff_array = staff_array | unshift: temp_string %}
{% endif %}
{% for od in include.school.other_directors %}
    {%- capture temp_string -%}
    {{ od[0] }} {{ od[1] | array_to_sentence_string }}
    {%- endcapture -%}
    {% assign staff_array = staff_array | unshift: temp_string %}
{% endfor %}
{% assign leader_array = site.data.review.empty_array %}
{% if include.band.drum_majors.size %}
    {% if include.band.percussion_captains.size > 1 %}
        {% assign captain_label = "drum majors" %}
    {% else %}
        {% assign captain_label = "drum major" %}
    {% endif %}
    {%- capture temp_string -%}
    {{ captain_label }} {{ include.band.drum_majors | array_to_sentence_string }}
    {%- endcapture -%}
    {% assign leader_array = leader_array | unshift: temp_string %}
{% endif %}
{% for oc in include.band.other_captains %}
    {%- capture temp_string -%}
    {{ oc[0] }} {{ oc[1] | array_to_sentence_string }}
    {%- endcapture -%}
    {% assign leader_array = leader_array | unshift: temp_string %}
{% endfor %}
The {% include nickname_citation.html school=include.school %}
is directed by {{ staff_array | reverse
                              | collapse
                              | array_to_sentence_string }}
and led by {{ leader_array | reverse
                           | collapse
                           | array_to_sentence_string }}.