{% assign staff_array = site.data.review.empty_array %}
{% assign directors = include.band.directors | default: include.school.directors %}
{% assign other_directors = include.band.other_directors | default: include.school.other_directors %}
{% assign leaders = include.band.leaders | default: include.school.leaders %}
{% if directors.size %}
    {%- capture temp_string -%}
    {{ directors | array_to_sentence_string }}
    {%- endcapture -%}
    {% assign staff_array = staff_array | unshift: temp_string %}
{% endif %}
{% for od in other_directors %}
    {%- capture temp_string -%}
    {{ od[0] }} {{ od[1] | array_to_sentence_string }}
    {%- endcapture -%}
    {% assign temp_string = temp_string | prepend: "<br>" %}
    {% assign staff_array = staff_array | unshift: temp_string %}
{% endfor %}
{% assign leader_array = site.data.review.empty_array %}
{% assign leader_array = site.data.review.empty_array %}
{% for oc in leaders %}
    {%- capture temp_string -%}
    {{ oc[0] }} {{ oc[1] | array_to_sentence_string }}
    {%- endcapture -%}
    {% assign temp_string = temp_string | prepend: "<br>" %}
    {% assign leader_array = leader_array | unshift: temp_string %}
{% endfor %}
The {% include nickname_citation.html school=include.school %}
is directed by {{ staff_array | reverse
                              | collapse
                              | array_to_sentence_string }}
{% comment %}Change AND to WITH for other directors {% endcomment %}
and led by {{ leader_array | reverse
                           | collapse
                           | array_to_sentence_string }}.